.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.particles {
  position: absolute;
  background-color: #15182c;
  height: 100vh;
  width: 100vw;
}
