@import "../../Assets/constants.scss";

// .outer-container {
//   width: 100%;
//   height: 100%;
// }
.userProfile {
  overflow-x: hidden;
  padding: 5px;
  position: absolute;
  top: 15%;
  width: 100%;
}
.wrapper {
  padding: 3%;
}
#canvasjs-react-chart-container-1621268791603,
#canvasjs-react-chart-container-1621268801604,
#canvasjs-react-chart-container-1621269701005 {
  overflow-y: hidden !important;
  // scrollbar-width: 0px;
}
.canvas-js-toolbar {
  right: 20px;
}
.form {
  width: 20%;
  font-size: 1rem;
}
.area,
.twoCharts {
  margin-top: 50px;
}
.particles1 {
  position: fixed;
  height: 100%;
  background-attachment: fixed;
  background-color: $main-color;
  height: 100vh;
  width: 100vw;
}
.parent > div {
  overflow-y: hidden;
}
.parent {
  margin-top: 30px;
  padding: 3%;
  border-radius: 5px;
}
.header {
  color: $header-card;
  margin-top: 35px;
  font-size: 2.5rem;
  display: flex;
  padding: 3%;
}
.by {
  font-size: 1.2rem;
}
select {
  height: 40px;
  margin-top: 12px;
}
.form {
  background-color: #e2fffc;
  border: none;
  outline: none;
  width: 100px;
  border-radius: 5px;
}
@media screen and(max-width:495px) {
  .header {
    font-size: 2rem;
    flex-direction: column;
  }
  .by {
    font-size: 1rem;
  }
}
@media screen and(max-width:325px) {
  .header {
    font-size: 1.7rem;
  }
  .name h2 {
    font-size: 1rem !important;
  }
}
.selector {
  margin-top: 50px;
}
.selector .row div {
  border: 1px solid #a2a2a3;
  padding: 3%;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.division1 {
  border-radius: 6px 0px 0px 6px;
}
.division2 {
  border-radius: 0px 6px 6px 0px;
}
.sunspotLoader1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 20%;
}
