@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import "../../Assets/constants.scss";
.navbar {
  
 
  overflow-x: hidden;
  width: 100%;
}
.navbar-nav a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  font-size: 1.2rem;
}
.navbar a:hover {
  color: rgb(240, 240, 240);
}
.navbar-brand {
  color: rgb(240, 240, 240);
}
.navbar-toggler {
  outline: none;
  border: none;
}
.nav-item {
  margin-right: 15px;
}
.nav-link {
  margin-top: 10px;
}
// .mode{
//   margin-left: 10px;
// }
.b{
  margin-right: 15px;
}
.last{
  margin-right: 0px;
}
