@import "../../../Assets/constants.scss";

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
}
.login {
  color: rgb(240, 240, 240);
  text-decoration: none;
  &:hover {
    color: rgb(240, 240, 240);
  }
}
.name,
.repos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  color: rgb(240, 240, 240);
}
@media screen and (max-width: 400px) {
  .name {
    font-size: 0.95rem;
  }
}
.login a {
  color: #e2fffc;
  text-decoration: none;
}
.profile {
  margin: 2%;
}
.smCard {
  margin: 15px;
  height: 100px;
  width: 150px;
  padding: 10px 20px;
  background: linear-gradient(
    to top right,
    #25bfb6,
    #53cec6,
    #74ded7,
    #91ede7,
    #adfdf8
  );
  color: rgb(240, 240, 240);
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 19px;
  border-radius: 19px;
  border-radius: 19px;
  background: #1e2742;
  box-shadow: 6px 6px 5px #171e33, -6px -6px 5px #253051;
}
@media screen and (max-width: 450px) {
  .smCard {
    height: 70px;
    width: 110px;
    font-size: 0.65rem;
    border-radius: 1px;
    border-radius: 8px;
  }
}
@media screen and (max-width: 300px) {
  .smCard {
    font-size: 0.65rem;
  }
}
.name {
  margin: 2%;
  margin-bottom: 1%;
}
.login {
  margin-bottom: 1%;
  font-size: 1.25rem;
}
