body {
  background-color: #21253d;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.title {
  font-size: 6em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(33, 150, 243);
}

.second-heading {
  color: white;
  text-align: center;
}

.typical{
  color: white;
  text-align: center;
  font-size: x-large;
  margin-bottom: 10px;
}

h3 {
  padding-top: 0.25em;
}
.vertical-timeline-element-title {
  font-family: "Bebas Neue", cursive;
  color: black;
  font-size: xx-large;
}
.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 10px;
  background-color: linear-gradient(
    #b49ef1,
    #c6b5f8,
    #a080f5,
    #8356fd
  ) !important;
}
.vertical-timeline-element-subtitle {
  color: black;
}

.date {
  color: white;
}
#description {
  margin: 1.5em 0 2em 0;
  color: black;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: rgb(39, 34, 34);
}

.workButton:hover {
  background-color: rgb(139, 136, 136);
  color: white;
}

.schoolButton {
  background-color: rgb(39, 34, 34);
}

.schoolButton:hover {
  background-color: rgb(139, 136, 136);
  color: white;
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: black;
    margin-top: 1.5em;
  }
}
.vertical-timeline-element-icon {
  margin-left: 4px;
  margin-top: 5px;
  background-color: #728af4 !important;
}
.actorName,
.actorRepo,
.actorlink {
  font-weight: 700;
  color: black;
  text-decoration: none;
}
#description {
  text-align: right;
}
.particles4 {
  position: fixed;
  height: 100vh;
  width: 100vw;

}
.timelineComponent {
  position: absolute;
  top: 80px;
}
.actorImage {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.event {
  color: black;
}
.content {
  word-wrap: break-word;
}
@media only screen and (max-width: 450px) {
  .secondary {
    display: flex;
    flex-direction: column;
  }
  .secondary div {
    width: 100%;
  }
}
