@import "../../../Assets/constants.scss";
.card {
  // background-color: #1e2742;
  color: $header-card;
  border-radius: 10px;
  padding: 2%;
  margin-top: 8px;
  z-index: 1;
  position: relative;
  background-clip: border-box;
  cursor: pointer;
  overflow-y: scroll;
  background: rgba( 32, 44, 115, 0.60 );
 // background-color: #1E2742;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.0px );
-webkit-backdrop-filter: blur( 6.0px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
 scrollbar-width: 0px;
 overflow-y: hidden !important;
  
}
.card::-webkit-scrollbar {
  display: none;
}
.content {
  color: #a2a2a3;
}
.language {
  display: flex;
}
.content {
  margin-top: 50px;
}
.repoName {
  font-weight: bold;
  font-size: 1.3rem;
}
.forks,
.stars,
.size {
  margin-top: 15px;
  font-size: 1rem;
}
.internal {
  display: flex;
  align-items: center;
}
