@import "../../Assets/constants.scss";
.particles2 {
  width: 100vw;
  height: 100vh;
  background-color: #15182c;
  position: fixed;
}

.users {
  position: absolute;
  top: 100px;
}
.userImage {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.topCard {
  margin-top: 20px;
  background-color: #1e2742;
  padding: 2%;
  border-radius: 20px;
  box-sizing: border-box;
  color: #a2a2a3;
}

.userInformation div {
  margin: 10px;
}
.userLogin {
  text-decoration: none;
  color: #728af4;
  &:hover {
    color: #728af4;
  }
}
.loadbtn {
  border: none;
  outline: none;
  padding: 1% 2%;
  margin-bottom: 10px;
  float: right;
  border-radius: 6px;
  margin-right: 2%;
  background: linear-gradient(to top right, #728af4, #a1b2ff, #c0cbfc);
  &:hover {
    background: linear-gradient(to top right, #c0cbfc, #a1b2ff, #728af4);
  }
}
.userWrapper {
  margin-bottom: 20px;
}
