.canvasjs-chart-container {
  position: static !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.canvasjs-chart-canvas {
  border-radius: 5px;
}
.canvasjs-chart-toolbar {
  left: 0;
  width: 120px;
  height: 200px;
}
.canvasjs-chart-toolbar button {
  left: 10px;
  border-radius: 2px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #e2fffc !important;
}
@media screen and (max-width: 360px) {
  .canvasjs-chart-toolbar button {
    padding: 5px 5px !important;
    width: 20px !important;
    height: 20px !important;
  }
}
.canvasjs-chart-toolbar > button > img {
  filter: invert(0%) !important;
}
.canvasjs-chart-toolbar div {
  background-color: #e2fffc !important;
  color: black !important;
  left: 10px;
}
.canvasjs-chart-toolbar div div:hover {
  background-color: #c2fdf7 !important;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px grey;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
